.inform {
  transition: width 2s, height 2s, transform 2s;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(100px, auto);
  background-color: rgb(114, 1, 41);
  color: white;
  text-align: center;
  padding-top: 30px;
  font-size: 20px;
  border-radius: 20px;
  min-height: 100px;
}


/* Fading animation */
.fade1 {
  -webkit-animation-name: fade1;
  -webkit-animation-duration: 4.5s;
  animation-name: fade1;
  animation-duration: 4.5s;
}

@-webkit-keyframes fade1 {
  from {opacity: .1}
  to {opacity: 1}
}

@keyframes fade1 {
  from {opacity: .1}
  to {opacity: 1}
}


.field{
  width:30px;
  text-align:center;
}
